<?xml version="1.0" encoding="iso-8859-1"?>
<config>
  <companionWindowWidth>1280</companionWindowWidth>
  <companionWindowHeight>720</companionWindowHeight>
  <cameraSpeed>50</cameraSpeed>
  <Texture>
    <Name>position</Name>
    <INTERNAL_FORMAT>RGBA</INTERNAL_FORMAT>
    <FORMAT>RGBA_16F</FORMAT>
    <WIDTH>1280</WIDTH>
    <HEIGHT>720</HEIGHT>
  </Texture>
  <Texture>
    <Name>normal</Name>
    <INTERNAL_FORMAT>RGB</INTERNAL_FORMAT>
    <FORMAT>RGB_16F</FORMAT>
    <WIDTH>1280</WIDTH>
    <HEIGHT>720</HEIGHT>
  </Texture>
  <Texture>
    <Name>gAlbedo</Name>
    <INTERNAL_FORMAT>RGB</INTERNAL_FORMAT>
    <FORMAT>RGB_16F</FORMAT>
    <WIDTH>1280</WIDTH>
    <HEIGHT>720</HEIGHT>
  </Texture>
  <Texture>
    <Name>ssaoColorBuffer</Name>
    <INTERNAL_FORMAT>R</INTERNAL_FORMAT>
    <FORMAT>R_16F</FORMAT>
    <WIDTH>1280</WIDTH>
    <HEIGHT>720</HEIGHT>
  </Texture>
  
  <Texture>
    <Name>ssaoColorBufferBlur</Name>
    <INTERNAL_FORMAT>R</INTERNAL_FORMAT>
    <FORMAT>R_16F</FORMAT>
    <WIDTH>1280</WIDTH>
    <HEIGHT>720</HEIGHT>
  </Texture>
  <Texture>
    <Name>ssaoNoise</Name>
    <INTERNAL_FORMAT>RGBA</INTERNAL_FORMAT>
    <FORMAT>RGBA_16F</FORMAT>
    <WIDTH>4</WIDTH>
    <HEIGHT>4</HEIGHT>
    <FILTER>NEAREST</FILTER>
    <WRAP>CLAMP_TO_EDGE</WRAP>
  </Texture>

  <RenderPass>
    <Name>geometry</Name>
    <!--<Model>C:/Users/whatseven/source/repos/RESOURCES/scene/nanosuit/nanosuit.obj</Model>-->
    <Model>C:/Users/whatseven/source/repos/RESOURCES/scene/sponza/sponza.obj</Model>
    <VertexShader>shaders/geometryVert.glsl</VertexShader>
    <FragmentShader>shaders/geometryFrag.glsl</FragmentShader>
    <OutTexture>position</OutTexture>
    <OutTexture>normal</OutTexture>
    <OutTexture>gAlbedo</OutTexture>
  </RenderPass>
  <RenderPass>
    <Name>ssao</Name>
    <Model>Window</Model>
    <VertexShader>shaders/SSAOVert.glsl</VertexShader>
    <FragmentShader>shaders/SSAOFrag.glsl</FragmentShader>
    <OutTexture>ssaoColorBuffer</OutTexture>
  </RenderPass>
  <RenderPass>
    <Name>blur</Name>
    <Model>Window</Model>
    <VertexShader>shaders/blurVert.glsl</VertexShader>
    <FragmentShader>shaders/blurFrag.glsl</FragmentShader>
    <OutTexture>ssaoColorBufferBlur</OutTexture>
  </RenderPass>
  <RenderPass>
    <Name>shading</Name>
    <Model>Window</Model>
    <VertexShader>shaders/shadingVert.glsl</VertexShader>
    <FragmentShader>shaders/shadingFrag.glsl</FragmentShader>
  </RenderPass>
</config>