<?xml version="1.0" encoding="iso-8859-1"?>
<config>
  <companionWindowWidth>1280</companionWindowWidth>
  <companionWindowHeight>720</companionWindowHeight>
  <cameraSpeed>50</cameraSpeed>
  <Texture>
    <Name>depth</Name>
    <INTERNAL_FORMAT>R</INTERNAL_FORMAT>
    <FORMAT>R_16F</FORMAT>
    <WIDTH>1280</WIDTH>
    <HEIGHT>720</HEIGHT>
    <FILTER>LINEAR</FILTER>
    <WRAP>CLAMP_TO_EDGE</WRAP>
  </Texture>
  <Texture>
    <Name>normal</Name>
    <INTERNAL_FORMAT>RGB</INTERNAL_FORMAT>
    <FORMAT>RGB_16F</FORMAT>
    <WIDTH>1280</WIDTH>
    <HEIGHT>720</HEIGHT>
    <FILTER>LINEAR</FILTER>
  </Texture>
  <Texture>
    <Name>gAlbedo</Name>
    <INTERNAL_FORMAT>RGB</INTERNAL_FORMAT>
    <FORMAT>RGB_16F</FORMAT>
    <WIDTH>1280</WIDTH>
    <HEIGHT>720</HEIGHT>
    <FILTER>LINEAR</FILTER>
  </Texture>
  <Texture>
    <Name>quaterDepth</Name>
    <INTERNAL_FORMAT>R</INTERNAL_FORMAT>
    <FORMAT>R_16F</FORMAT>
    <WIDTH>640</WIDTH>
    <HEIGHT>360</HEIGHT>
  </Texture>
  <Texture>
    <Name>ssaoColorBuffer</Name>
    <INTERNAL_FORMAT>R</INTERNAL_FORMAT>
    <FORMAT>R_16F</FORMAT>
    <WIDTH>640</WIDTH>
    <HEIGHT>360</HEIGHT>
    <FILTER>LINEAR</FILTER>
  </Texture>
  <Texture>
    <Name>ssaoColorBufferBlur</Name>
    <INTERNAL_FORMAT>R</INTERNAL_FORMAT>
    <FORMAT>R_16F</FORMAT>
    <WIDTH>640</WIDTH>
    <HEIGHT>360</HEIGHT>
    <FILTER>LINEAR</FILTER>
  </Texture>
  <Texture>
    <Name>upSampleSSAO</Name>
    <INTERNAL_FORMAT>R</INTERNAL_FORMAT>
    <FORMAT>R_16F</FORMAT>
    <WIDTH>1280</WIDTH>
    <HEIGHT>720</HEIGHT>
    <FILTER>LINEAR</FILTER>
  </Texture>


  <RenderPass>
    <Name>geometry</Name>
    <!--<Model>C:/Users/whatseven/source/repos/RESOURCES/scene/nanosuit/nanosuit.obj</Model>-->
    <Model>C:/Users/whatseven/source/repos/RESOURCES/scene/sponza/sponza.obj</Model>
    <VertexShader>shaders/geometryVert.glsl</VertexShader>
    <FragmentShader>shaders/geometryFrag.glsl</FragmentShader>
    <OutTexture>depth</OutTexture>
    <OutTexture>normal</OutTexture>
    <OutTexture>gAlbedo</OutTexture>
  </RenderPass>
  <RenderPass>
    <Name>downSample</Name>
    <Model>Window</Model>
    <Width>640</Width>
    <Height>360</Height>
    <VertexShader>shaders/SSAOVert.glsl</VertexShader>
    <FragmentShader>shaders/downSampleFrag.glsl</FragmentShader>
    <OutTexture>quaterDepth</OutTexture>
  </RenderPass>
  <RenderPass>
    <Name>ssao</Name>
    <Model>Window</Model>
    <Width>640</Width>
    <Height>360</Height>
    <VertexShader>shaders/SSAOVert.glsl</VertexShader>
    <FragmentShader>shaders/SSAOFrag.glsl</FragmentShader>
    <OutTexture>ssaoColorBuffer</OutTexture>
  </RenderPass>
  <RenderPass>
    <Name>blurX</Name>
    <Model>Window</Model>
    <Width>640</Width>
    <Height>360</Height>
    <VertexShader>shaders/blurVert.glsl</VertexShader>
    <FragmentShader>shaders/blurFrag.glsl</FragmentShader>
    <OutTexture>ssaoColorBufferBlur</OutTexture>
  </RenderPass>
  <RenderPass>
    <Name>blurY</Name>
    <Model>Window</Model>
    <Width>640</Width>
    <Height>360</Height>
    <VertexShader>shaders/blurVert.glsl</VertexShader>
    <FragmentShader>shaders/blurFrag.glsl</FragmentShader>
    <OutTexture>ssaoColorBuffer</OutTexture>
  </RenderPass>
  <RenderPass>
    <Name>upSample</Name>
    <Model>Window</Model>
    <VertexShader>shaders/SSAOVert.glsl</VertexShader>
    <FragmentShader>shaders/upSampleFrag.glsl</FragmentShader>
    <OutTexture>upSampleSSAO</OutTexture>
  </RenderPass>

  <RenderPass>
    <Name>showSSAO</Name>
    <Model>Window</Model>
    <VertexShader>shaders/SSAOVert.glsl</VertexShader>
    <FragmentShader>shaders/showSSAOFrag.glsl</FragmentShader>
  </RenderPass>
  
  <RenderPass>
    <Name>shading</Name>
    <Model>Window</Model>
    <VertexShader>shaders/shadingVert.glsl</VertexShader>
    <FragmentShader>shaders/shadingFrag.glsl</FragmentShader>
  </RenderPass>



</config>